<footer>
    <div class="f-info border-top">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="wander">Wanderlust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy"> privacy</a>
            <a href="/term"> term</a>
        </div>

    </div>
</footer>